<%- include("template/head.ejs", {tituloWeb})%>
    <link rel="stylesheet" href="/css/register.css">
    </head>

    <body class="login">
        <main class="container-fluid mainlogin">

            <div class="container">
                <div class="row justify-content-center containerFormat">
                    <form action="/project/<%=proyecto.id%>/crearTarea"
                        class="rounded bg-dark p-4 text-white loginFormat align-self-center" method="post">
                        <div class="mt-2 text-center">
                            <h1 class="display-6">Nueva Tarea</h1>
                        </div>
                        <div class="mb-3 pt-4 ps-5 pe-5">
                            <label for="titulo" class="form-label">Titulo de la tarea</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Titulo..." name="titulo">
                        </div>
                        <div class="mb-3 pt-4 ps-5 pe-5">
                            <label for="descripcion" class="form-label">Descripción de la tarea</label>
                            <input type="text" class="form-control" id="descripcion" placeholder="Descripción..."
                                name="texto">
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-success mt-5 buttonFormat me-5">Subir Tarea</button>

                            <a class="btn btn-success mt-5 buttonFormat" href="/project/<%=proyecto.id%>">Volver</a>
                            <%if (locals.error){%>
                                <p class="text-center mt-4 p-1 bg-danger">Rellena todos los campos correctamente</p>
                                <%}%>
                                    <%if (locals.success){%>
                                        <p class="text-center mt-4 p-1 bg-success">Tarea añadida satisfactoriamente
                                        </p>
                                        <%}%>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <%- include("template/footer.ejs")%>