<%- include("template/header.ejs", {tituloWeb:"Error 404" })%>

    <h1 class="display-1">EROR 404</h1>
    <h1 class="display-6">
        No se ha encontrado la página que busca
    </h1>

    <%- include("template/footer.ejs")%>