<%- include("template/head.ejs", {tituloWeb:"Incidencias", usuario})%>
    </head>

    <body class="incidencias">
        <%- include("template/header.ejs", {tituloWeb:"Incidencias"})%>

            <main class="container-fluid mainincidents">
                <div class="container-fluid p-5">
                    <h1 class="display-1">Incidencias/Avisos</h1>
                    <h1 class="display-6">
                        <%=title%>
                    </h1>
                </div>

                <div class="row justify-content-around ">
                    <div class="col-6 text-center bg-secondary rounded border border-dark border-1">
                        <table class="table">
                            <thead class="thead-dark fs-5">
                                <tr>
                                    <th scope="col">Asunto</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Autor</th>
                                    <%if (usuario.rol=="Profesor" ){%>
                                        <th scope="col">Acción</th>
                                        <%}%>
                                </tr>
                            </thead>

                            <tbody class="border-bottom border-dark ">

                                <!--Haremos el foreach para recorrer el array-->

                                <tr>
                                    <th>

                                        Aqui
                                    </th>
                                    <td>
                                        ddddd
                                    </td>
                                    <td>
                                        sssss
                                    </td>
                                    <td>
                                        ssssss
                                    </td>

                                    <%if (usuario.rol=="Profesor" ){%>
                                        <td>
                                            <a class="btn btn-warning btn-sm" href="/">Marcar como solventada</a>
                                        </td>
                                        <%}%>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-7 text-center">
                        <a class="btn btn-dark btn-block my-4 me-5" href="/">Nueva Incidencia</a>
                        <a class="btn btn-dark btn-block my-4" href="/">Volver</a>
                    </div>
                </div>


            </main>

            <%- include("template/footer.ejs")%>