<%- include("template/head.ejs", {tituloWeb:"Inicio"})%>
    </head>

    <body>

        <%- include("template/header.ejs", {tituloWeb:"Inicio"})%>

            <div class="container-fluid p-5">
                <h1 class="display-1">Hola Mundo</h1>
                <h1 class="display-6">
                    <%=title%>
                </h1>
            </div>

            <%- include("template/footer.ejs")%>