<%- include("template/header.ejs", {tituloWeb:"Inicio" })%>

    <h1 class="display-1">Hola Mundo</h1>
    <h1 class="display-6">
        <%=title%>
    </h1>

    <%- include("template/footer.ejs")%>