<%- include("template/header.ejs", {tituloWeb:"Usuarios" })%>

    <div class="container-fluid p-5">
        <h1 class="display-1">Usuarios</h1>
        <h1 class="display-6">
            <%=title%>
        </h1>
    </div>

    <%- include("template/footer.ejs")%>