<%- include("template/header.ejs", {tituloWeb:"Usuarios" })%>

    <h1 class="display-1">Usuarios</h1>
    <h1 class="display-6">
        <%=title%>
    </h1>

    <%- include("template/footer.ejs")%>