<%- include("template/head.ejs", {tituloWeb:"Contabilidad"})%>
    </head>

    <body class="contabilidad">
        <%- include("template/header.ejs", {tituloWeb:"Contabilidad"})%>

        <main class="container-fluid mainwallet">
            <div class="container-fluid p-5">
                <h1 class="display-1">Gastos</h1>
                <h1 class="display-6">
                    <%=title%>
                </h1>
            </div>
           
                <div class="row justify-content-around ">
                    <div class="col-6 text-center bg-secondary rounded">
                        <table class="table ">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Rol</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody class="border-bottom border-dark">

                                <!--Haremos el foreach para recorrer el array-->

                                <tr>
                                    <th scope="row">

                                        Aqui
                                    </th>
                                    <td>
                                        ddddd
                                    </td>
                                    <td>
                                        sssss
                                    </td>
                                    <td>
                                        ssssss
                                    </td>


                                    <td>
                                        <a class="btn btn-warning btn-sm" href="/login>">Editar/Eliminar</a>
                                    </td>
                                    
                                    
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-7 justify-content-around">
                        <a class="btn btn-dark btn-block my-4 float-Start" href="/">Nuevo Gasto</a>
                        <a class="btn btn-dark btn-block my-4 float-end" href="/">Volver</a>
                    </div>
                </div>
            

        </main>

            <%- include("template/footer.ejs")%>