.principal {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.principal::after {
    content: "";
    background: url('../img/kojima.jpg');
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}
.login {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.login::after {
    content: "";
    background: url('../img/kojimawall.jpg');
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}
main {
    min-height: 85vh;
}
.mainlogin {
    min-height: 100vh;
}