.principal,
.login,
.register,
.usuarios,
.contabilidad {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.principal::after {
    content: "";
    background: url('../img/kojima.jpg');
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}

.login::after {
    content: "";
    background: url('../img/kojimawall.jpg');
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}

.register::after {
    content: "";
    background: url('../img/registro.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}

.usuarios::after {
    content: "";
    background: url('../img/usuarios.jpg');
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}

.contabilidad::after {
    content: "";
    background: url('../img/gigante.jpg');
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}

main,
.mainusuarios,
.mainwallet {
    min-height: 85vh;
}

.mainlogin,
.mainregister {
    min-height: 100vh;
}