<footer class="text-white fixed-bottom bg-secondary">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright
        <a class="text-white" href="https://www.linkedin.com/in/samuelbolivarvillanueva/" target="_blank">KOJIMA PRODUCTIONS</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>